<!DOCTYPE HTML>
<!--
	TXT by HTML5 UP
	html5up.net |
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Montanari Giorgia TXT</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/Tema/assets/css/main.css" />
		<style>
			
			.spazio{
				margin-inline-end: 20px;
				margin-inline-start: 20px;
			}
			.image:before {
  				background: none;
			}
			
			#nav{
				background-image: none;
				
			}
			mark {
  				background-color: #FFE682;
  				color: ;
			}
			
			#box {
   				margin-left:550px;
   				margin-right:auto; 
				display:block;
   				width:960px;
			}
			#box1 {
   				margin-left:100px;
   				margin-right:auto; 
				
   				width:auto;
			}
			#quadrato {
				display: inline-block;
				background: #dee3e0;
				padding: 0.75em 2em 0.75em 2em;
				border-radius: 8px;
				color: #8b9790;
				margin: 4em 0 0 0;
			}
			
			
		</style>
	</head>
	<body>
				<!-- Nav -->
				<nav id="nav">
					
					<ul>
						
						<li class="current"><a asp-area="" asp-controller="TXT" asp-action="index">Home</a></li>
						<li>
							<a href="#">I membri</a>
							<ul>
								
								<li><a asp-area="" asp-controller="TXT" asp-action="Soobin">Soobin</a></li>
								<li><a asp-area="" asp-controller="TXT" asp-action="Yeonjun">Yeonjun</a></li>
								<li><a asp-area="" asp-controller="TXT" asp-action="Beomgyu">Beomgyu</a></li>
								<li><a asp-area="" asp-controller="TXT" asp-action="Taehyun">Taehyun</a></li>
								<li><a asp-area="" asp-controller="TXT" asp-action="HueningKai">Huening Kai</a></li>
							</ul>
						</li>
						<li><a asp-area="" asp-controller="Account" asp-action="Registra">Registrati</a></li>
						<li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
						<!--<li><a href="/Tema/left-sidebar.html">Left Sidebar</a></li>	---class="current" per lo sfondo verde
						<li><a href="/Tema/right-sidebar.html">Right Sidebar</a></li>
						<li><a href="/Tema/no-sidebar.html">No Sidebar</a></li>-->
					</ul>
				</nav>

				@RenderBody()

				@RenderSection("Header", required: false)
				<!-- Banner -->
				@RenderSection("banner", required: false)
					
				@RenderSection("Soobin", required: false)
				@RenderSection("Yeonjun", required: false)
				@RenderSection("Beomgyu", required: false)
				@RenderSection("Taehyun", required: false)
				@RenderSection("HueningKai", required: false)
				<!--Profili-->
				
				
				<section id="main" >
					<div class="container">
						<div class="row gtr-200">
							
							<div class="col-12">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>TXT Membri</span></h2>
										<div>
											<div class="row">
												<div class="spazio col-2">

													<!-- Feature -->
														<section class="box feature ">
															<a asp-area="" asp-controller="TXT" asp-action="Soobin" class="image featured"><img src="\Tema\images\Soobin.jpg" alt=""/></a>
															<h3><a asp-area="" asp-controller="TXT" asp-action="Soobin">Soobin</a></h3>
															
														</section>

												</div>
												<div class="spazio col-2">

													<!-- Feature -->
														<section class="box feature">
															<a asp-area="" asp-controller="TXT" asp-action="Yeonjun" class="image featured"><img src="\Tema\images\Yeonjun.jpg" alt="" /></a>
															<h3><a asp-area="" asp-controller="TXT" asp-action="Yeonjun">Yeonjun</a></h3>
															
														</section>

												</div>
												<div class="spazio col-2">

													<!-- Feature -->
														<section class="box feature">
															<a asp-area="" asp-controller="TXT" asp-action="Beomgyu" class="image featured"><img src="\Tema\images\Beomgyu.jpg" alt="" /></a>
															<h3><a asp-area="" asp-controller="TXT" asp-action="Beomgyu">Beomgyu</a></h3>
															
														</section>

												</div>
												<div class="spazio col-2">

													<!-- Feature -->
														<section class="box feature">
															<a asp-area="" asp-controller="TXT" asp-action="Taehyun" class="image featured"><img src="\Tema\images\Taehyun.jpg" alt="" /></a>
															<h3><a asp-area="" asp-controller="TXT" asp-action="Taehyun">Taehyun</a></h3>
															
														</section>

												</div>
												<div class="spazio col-2">

													<!-- Feature -->
														<section class="box feature">
															<a asp-area="" asp-controller="TXT" asp-action="HueningKai" class="image featured"><img src="\Tema\images\HueningKai.jpg" alt="" /></a>
															<h3><a asp-area="" asp-controller="TXT" asp-action="HueningKai">Huening Kai</a></h3>
														</section>

												</div>
												<div class="col-12">
													<ul class="actions">
														<li><a asp-area="" asp-controller="Account" asp-action="Registra" class="button large">Registrati</a></li>
														<li><a asp-area="" asp-controller="Account" asp-action="Login" class="button alt large">Accedi</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>
							</div>
						</div>
					</div>
				</section>
				
							
			
				
			
			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- About -->
									<section>
										<h2 class="major"><span>Chi sono?</span></h2>
										<p>
											Ciao! Mi chiamo Giorgia Montanari e frequento la classe 5 dell'istituto
											ITTS L. Da Vinci- O. Belluzzi di Rimini. Sto strutturando la pagina con i 
											miei interessi ovviamente, ma è in realtà è un compito(serio) per le vacanze di Pasqua! 

											<br>Ps. Spero comunque che la mia creatività per questo compito sia ricambiata con un buon voto hehe!!
										</p>
									</section>

							</div>
							<div class="col-12">

								<!-- Contact -->
									<section>
										<h2 class="major"><span>I vari social</span></h2>
										<ul class="contact">
											
											<li><a class="icon brands fa-spotify" href="https://open.spotify.com/artist/0ghlgldX5Dd6720Q3qFyQB"><span class="label">Twitter</span></a></li>
											<li><a class="icon brands fa-youtube" href="https://www.youtube.com/channel/UCtiObj3CsEAdNU6ZPWDsddQ"><span class="label">Twitter</span></a></li>
											<li><a class="icon brands fa-twitter" href="https://twitter.com/TXT_bighit"><span class="label">Twitter</span></a></li>
											<li><a class="icon brands fa-instagram" href="https://www.instagram.com/txt_bighit/"><span class="label">Instagram</span></a></li>
											
										</ul>
									</section>

							</div>
						</div>

						<!-- Copyright -->
							<div id="copyright">
								<ul class="menu">
									<li><img height="30" width="100" src="/Tema/images/txt-logo.png"></li>
									<li>&copy; Montanari Giorgia 5H ITTS Rimini</li><li><a asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a></li>
								</ul>
							</div>

					</div>
				</footer>

	

		<!-- Scripts -->
			<script src="/Tema/assets/js/jquery.min.js"></script>
			<script src="/Tema/assets/js/jquery.dropotron.min.js"></script>
			<script src="/Tema/assets/js/jquery.scrolly.min.js"></script>
			<script src="/Tema/assets/js/browser.min.js"></script>
			<script src="/Tema/assets/js/breakpoints.min.js"></script>
			<script src="/Tema/assets/js/util.js"></script>
			<script src="/Tema/assets/js/main.js"></script>

	</body>
</html>